
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.content{
		font-family: 'Roboto', sans-serif;
		margin: 0 auto;

}
.header{
	background: #87509c;
}
.header__header{
	min-height: 595px;
	max-width:1440px;
	margin: 0 auto;
}
.header__menu{

}
.menu__row{
	display: flex;
	justify-content: space-between;
	margin: 0 0 95px 0;
}
.menu__logo{
  color: rgb( 255, 255, 255 );
 	font-size: 36px;
 	margin: 55px 0 0 210px;
 	
}

.menu__nav{
  text-transform: uppercase;
  line-height: 1.125;
  text-align: left;
  margin: 58px 150px 0 0;
  font-size: 16px;
  height: 32px;
}
.nav__list{
	color: #fff;
	margin: 0 20px;
}
.nav__list_active{

}

.header__text{
  font-size: 42px;
  color: rgb( 247, 243, 234 );
  line-height: 1.158;
  text-align: center;
  line-height: 45px;
  letter-spacing: 2px;
  padding: 0 30px;
  margin: 0 0 60px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.header__buttom{
  font-size: 18px;
  line-height: 1.455;
  height: 70px;
  width: 295px;
  background: #eb7d4b;
  text-align: center;
  padding: 25px 0;
  border-radius: 5px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
 }
.workw{
	  color: rgb( 255, 255, 255 );
	  text-align: center;
}
.header__body{
	margin: 140px 0 0 0;
}
.nav__list:hover{
	background-color:  #643a79;
	height: 32px;
	width: 77px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	padding:  10px 5px;
}

.services{
	min-height: 750px;
	background: #17c2a4;
	

}
.conteiner{
	max-width:1440px;
	margin: 0 auto;


}
.services__title{
	padding: 120px 0 75px 0;
	margin: 0 auto;

	}
.title{
  font-size: 40px;
  color: rgb( 255, 255, 255 );
  line-height: 0.748;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;


}
.title__img{
	width: 87px;
	margin: 20px auto;

}
.subtitle-text{
  font-size: 18px;
  color: rgb( 255, 255, 255 );
  line-height: 1.444;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  padding: 0 260px;	
  
}
.columns{

}
.columns__row{
	display: flex;
	margin: 0px -20px;
	justify-content: center;
}
.columns__column{
	padding: 0px 20px;
	flex: 0 1 25%;
	max-width: 260px;

}
.columns__img{
	text-align: center;
}
.columns__title{
  font-size: 24px;
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 0.75;
  text-align: center;
  margin: 60px 0 20px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.columns__text{
  font-size: 16px;
  color: rgb( 255, 255, 255 );
  line-height: 1.5;
  text-align: center;
}
.columns__text p{
	padding: 0 10px;
}
.meet{
	background: #e7f1f8;
	min-height: 915px;
	  font-family: "TitilliumWeb";

}
.meet__header{
	text-align: center;
	padding: 120px 0 70px 0;
	
}
.meet__title{
	color:#3c4761;
  font-weight: 600;
  line-height: 0.748;
}
.title__subtitle{
  line-height: 1.444;
  

}
.contact{
	padding: 0px 20px;
	flex: 0 1 25%;
	max-width: 260px;
}
.contact__img{
	text-align: center;
}
.contact__title{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.75;
  text-align: center;
  margin: 40px 0 15px 0;
}
.contact__subtitle{
  font-size: 16px;
  line-height: 1.125;
  text-align: center;
  margin: 0 50px 30px 50px;
}
.contact__subtitle a{
	color: #30bae7;
}
.contact__text{
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3c4761;
  padding: 0 30px;
}
.contact__text p:last-child{
	margin: 0 0 30px 0;
}
.contact__a{
	text-align: center;

}
.contact__a a{
	margin: 0 6px;
}
.skills{
	min-height: 660px;


}
.skills__header{
	margin: 0 auto;
	padding:115px 0 0 0;

}
.skills__title{
	color: #3c4761;
  font-size: 40px;
  font-weight: 600;
  line-height: 0.748;
  text-align: center;
}
.title__subtitle{
  font-size: 18px;
  line-height: 1.444;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;

}
.title__subtitle p:last-child{
	margin: 0 0 85px;
}
.statics__columns{

}
.statics__row{
	display: flex;
	margin: 0 -58px;
	justify-content: center;
}
.statics{
	padding: 0px 58px;
	flex: 0 1 25%;
	max-width: 260px;

}
.portfolio{

	min-height: 1425px;
	background:#ffdd99;
	font-family: "TitilliumWeb"; 
}
.conteiner{
	max-width: 1140px;
}
.portfolio__header{
  color: #393939;
  font-family: "TitilliumWeb"; 
}

.portfolio__title{
  font-size: 40px;
  font-weight: bold;
  line-height: 0.748;
  text-align: center;
  color: #393939;
  padding: 120px 0 0 0;
}
.portfolio__subtitle{
  font-size: 18px;
  line-height: 1.444;
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 10px;

}
.portfolio__subtitle p:last-child{
	margin: 0 0 45px 0;
}
.portfolio__nav{
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 60px 0;
}
.portfolio__nav a{
	  color: #393939;
	  height: 40px;
	  width: 85px;
	  margin: 0 3px;
	  background: #ebc985;
	  display: inline-block;
	  border-radius: 5px;
	  padding: 10px 0;
}
.portfolio__nav a:hover{
	background: #fff;
}
.portfolio__columns{

}
.portfolio__row{
	display: flex;
	flex-wrap: wrap;

}
.portfolio__column{
	flex: 0 1 50%;
	margin: 0 0 65px 0;

}
.portfolio__img{
	text-align: center;
	max-width: 540px;
	max-height: 315px;
	margin: 0 auto;

}
.portfolio__img img{
	max-width: 100%;
	max-height: 100%;
}
.portfolio__text{
  font-size: 18px;
  color: rgb( 57, 57, 57 );
  text-transform: uppercase;
  line-height: 1.083;
  padding: 30px 0 0 0;
  text-align: center;
  
}
.portfolio__text p:last-shild{
	padding: 0 0 65px 0;
}
.portfolio__buttom{
	margin: 0 auto;
	width: 295px;
	height: 70px;
	background: #17c2a4;
	text-align: center;
	padding: 28px 0;
	border-radius: 5px;
	box-shadow: inset 0 -4px 0.5 #777;
}
.buttom{
  font-size: 14px;
  color: rgb( 255, 255, 255 );
  line-height: 1.455;
}

.poeple{
	min-height: 895px;
	background: #d74680;
	margin: 0 auto;
}
.poeple__header{
	font-family: "TitilliumWeb";
	color: #fff;
	padding: 115px 0 0 0;
}
.poeple__title{
		font-size: 40px;  
	  font-weight: bold;

}
.poeple__subtitle{
  font-size: 18px;
  line-height: 1.444;
  text-align: center;
  margin: 0 0 70px 0;
 }
 .poeple__body{

 }
 .poeple__row{
 	display: flex;
 	flex-wrap: wrap;
 	padding: 0 0 0 100px;
 }
 .poeple__columns{
 	flex: 0 1 50%;
 	margin: 0 0 145px 0;
 }
 .poeple__column {
	max-width:540px;
 }
 .column__row{
 	display: flex;
 }
 .column__img{

 }
 .column__body{
 	 font-family: "TitilliumWeb";
 }
 .column__text{
  font-size: 17.5px;
  color: rgb( 255, 255, 255 );
  font-style: italic;
  line-height: 1.486;
  padding: 10px 65px 0 45px;
 }
 .column__text p:last-child{
 	margin:0 0 25px 0;
 	padding: 0 10px 0 0;
 }
 .column__title{
  font-size: 24px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.083;
  padding: 10px 0 0 45px;
 }
 .column__subtitle{
  font-size: 18px;
  color: rgb( 255, 221, 153 );
  line-height: 1.444;
  padding: 10px 0 0 45px;
 }
 .touch{
 	background: #3c5499;
 	min-height: 820px;
 	margin: 0 auto;
 	font-family: "TitilliumWeb";
 }
 .touch__header{
 	padding: 120px;
 	text-align: center;
 }
 .touch__title{
  font-size: 40px;
  font-weight: bold;
  line-height: 0.748;
  text-align: center;
 }
 .touch__subtitle{
  font-size: 18px;
  line-height: 1.444;
  text-align: center;
 }
 .touch__body{

 }
 .touch__form{

 }
 .form{
 	text-align: center;
 }
 .form__row{
 	display: flex;
 	justify-content: center;
 	width: 860px;
 	height: 55px;
 	margin: 0 auto;
  font-size: 18px;
  line-height: 1;

 	 }
 .form__name{
 	background: #273a71;
 	display: inline-block;
 	width: 410px;
 	height: 55px;
 	border-radius: 5px;
 	margin: 0 20px 0 0;
 	padding: 20px;
 }
 .form__emei{
 	background: #273a71;
 	display: inline-block;
 	width: 410px;
 	height: 55px;
 	border-radius: 5px;
 	margin: 0 0 0 20px;
 	padding: 20px;
 }
 .form__message{
 	margin: 25px 0 0 0;
 }
 .form__message textarea{
 	width: 860px;
 	height: 200px;
 	background: #273a71;
 	border-radius: 5px;
 	margin: 0 auto;
 	padding: 25px;
 }
 button {
 	width: 295px;
 	height: 70px;
 	margin: 60px 0 0 0;
 	background: #30bae7;
 	border-radius: 5px;
 }
button p{
  font-size: 13.403px;
  line-height: 1.455;
  -moz-transform: matrix( 1.34293269230769, 0, 0, 1.34293269230769, 0, 0);
  -webkit-transform: matrix( 1.34293269230769, 0, 0, 1.34293269230769, 0, 0);
  color: #fff;
}
::-webkit-input-placeholder {
	color:#fff;
  font-size: 18px;
  line-height: 1;
}
footer{
	background: #344b8e;
	min-height: 112px;
	padding: 45px;
}
.footer{
  font-size: 24px;
  font-family: "TitilliumWeb";
  font-weight: bold;
  line-height: 1.246;
  text-align: center;
}
.footer a{
	 color: #fff;
	 margin: 0 30px;
}
.footer a:hover{
	color: #30b4e2;
}